.wrapper {
  background-color: var(--accent-color);
  border-radius: 4px;
  color: var(--light-shade);
  display: flex;
  flex-direction: column;
  padding: 8px;
  row-gap: 8px;
}

.textArea {
  background-color: var(--input-background);
  border: 1px solid var(--input-color);
  border-radius: 8px;
  color: var(--input-color);
  margin-bottom: 8px;
  padding: 8px;
}

.mobileHide {
  display: none;
}

@media (min-width: 640px) {
  .mobileHide {
    display: inline;
  }
}

@media (min-width: 800px) {
  .textArea {
    font-size: 14px !important;
  }
}