.styled-input {
  background-color: var(--input-background);
  border-radius: 4px;
  border: 1px solid var(--input-color);
  color: var(--input-color);
  font-size: 16px;
  font-weight: 400;
  height: var(--input-element-h);
  padding: 8px;
  width: 100%;
}

.error {
  border: 1px solid red;
}