.CreatePageLayout {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.CreatePanel {
  width: 100%;
}

@media (min-width: 756px) {
  .CreatePageLayout {
    display: block;
  }

  .CreatePanel {
    display: inline-block;
    width: calc(100% - 240px);
  }
}

@media (min-width: 1024px) {
  .CreatePageLayout {
    display: block;
  }

  .CreatePanel {
    display: inline-block;
    width: calc(100% - 320px);
  }
}

/* @media (min-width: 1100px) {
  .CreatePageLayout {
    display: block;
  }

  .CreatePanel {
    display: inline-block;
    width: calc(100% - 320px);
  }
} */