.NavigationMenuRoot {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: flex-end;
  flex-grow: 1;
  z-index: 1;
}

.MobileHide {
  display: none;
}

@media (min-width: 640px) {
  .MobileHide {
    display: flex;
  }
}


.NavigationMenuItem {
  display: none;
}

@media (min-width: 640px) {
  .NavigationMenuItem {
    display: block;
  }
}

.NavigationMenuList {
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 6px;
  list-style: none;
  margin: 0;
}

.NavigationMenuLink {
  padding: 2px 2px 2px 10px;
  outline: none;
  user-select: none;
  font-weight: 500;
  line-height: 1;
  border-radius: 4px;
  font-size: 15px;
}

.NavigationMenuTrigger:hover,
.NavigationMenuLink:hover {
  color: #14b8a6;
}

.AnalyticsIcon {
  justify-content: center;
  height: 40px;
  margin-left: 10px;
}

.isActive {
  color: #14b8a6;
}

.NavigationMenuTrigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2px;
}

.NavigationMenuLink {
  align-items: center;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  font-size: 14px;
  line-height: 1;
}

.NavigationMenuContent {
  background-color: var(--carbon-bg);
  color: var(--input-text);
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  animation-duration: 250ms;
  animation-timing-function: ease;
}

.NavigationMenuContent[data-motion='from-start'] {
  animation-name: enterFromLeft;
}

.NavigationMenuContent[data-motion='from-end'] {
  animation-name: enterFromRight;
}

.NavigationMenuContent[data-motion='to-start'] {
  animation-name: exitToLeft;
}

.NavigationMenuContent[data-motion='to-end'] {
  animation-name: exitToRight;
}

@media only screen and (min-width: 600px) {
  .NavigationMenuContent {
    width: auto;
  }
}

.HordeDropdownContent {
  background-color: var(--body-color);
  position: fixed;
  top: 46px;
  right: 0;
  left: 0;
}

@media (min-width: 640px) {
  .HordeDropdownContent {
    position: absolute;
    top: 46px;
    left: -320px;
    width: 320px;
  }
}

.NavigationMenuIndicator {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 10px;
  top: 100%;
  overflow: hidden;
  z-index: 1;
  transition: width, transform 250ms ease;
}

.NavigationMenuIndicator[data-state='visible'] {
  animation: fadeIn 200ms ease;
}

.NavigationMenuIndicator[data-state='hidden'] {
  animation: fadeOut 200ms ease;
}

.NavigationMenuViewport {
  position: relative;
  transform-origin: top center;
  margin-top: 10px;
  width: 100%;
  background-color: var(--carbon-bg);
  border-radius: 6px;
  overflow: hidden;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  height: var(--radix-navigation-menu-viewport-height);
  transition: width, height, 300ms ease;
}

.NavigationMenuViewport[data-state='open'] {
  animation: scaleIn 200ms ease;
}

.NavigationMenuViewport[data-state='closed'] {
  animation: scaleOut 200ms ease;
}

@media only screen and (min-width: 600px) {
  .NavigationMenuViewport {
    width: 400px;
  }
}

.List {
  display: flex;
  flex-direction: column;
  padding: 12px;
  margin: 0;
  column-gap: 10px;
  list-style: none;
}

.ListItemLink {
  display: block;
  outline: none;
  text-decoration: none;
  user-select: none;
  padding: 12px;
  border-radius: 6px;
  font-size: 15px;
  line-height: 1;
}

.ListItemLink:hover {
  background-color: var(--carbon-bg);
}

.ListItemHeading {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 5px;
}

.ListItemText {
  font-size: 12px;
  line-height: 1.4;
  font-weight: initial;
}

.ViewportPosition {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  top: 100%;
  right: 0;
  perspective: 2000px;
}

.CaretDown {
  position: relative;
  color: var(--violet10);
  transition: transform 250ms ease;
  margin: 0 -7px 0 -2px;
  transform: scale(0.82);
  left: -3px;
}

[data-state='open']>.CaretDown {
  transform: scale(0.82) rotate(-180deg);
}

.Arrow {
  position: relative;
  top: 70%;
  background-color: var(--carbon-bg);
  width: 12px;
  height: 12px;
  transform: rotate(45deg);
  border-top-left-radius: 2px;
}

.WorkerStatus {
  position: absolute;
  top: -2px;
  right: -7px;
}

@keyframes enterFromRight {
  from {
    opacity: 0;
    transform: translateX(200px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes enterFromLeft {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes exitToRight {
  from {
    opacity: 1;
    transform: translateX(0);
  }

  to {
    opacity: 0;
    transform: translateX(200px);
  }
}

@keyframes exitToLeft {
  from {
    opacity: 1;
    transform: translateX(0);
  }

  to {
    opacity: 0;
    transform: translateX(-200px);
  }
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: rotateX(-30deg) scale(0.9);
  }

  to {
    opacity: 1;
    transform: rotateX(0deg) scale(1);
  }
}

@keyframes scaleOut {
  from {
    opacity: 1;
    transform: rotateX(0deg) scale(1);
  }

  to {
    opacity: 0;
    transform: rotateX(-10deg) scale(0.95);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}