.Footer {
  display: none;
  margin-top: auto;
  padding-top: 16px;
  text-align: center;
  width: 100%;
}

.Footer-isSafari {
  margin-bottom: 160px;
}

@media (min-width: 640px) {
  .Footer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 12px;
    padding-top: 16px;
  }
}
