.ContentWrapper {
  margin-top: var(--headerNav-height);
  margin-bottom: 68px;
  padding: 8px 16px;
  position: relative;
}

@media (min-width: 640px) {
  .ContentWrapper {
    margin-bottom: 0;
    min-height: calc(100vh - 128px);
  }
}

@media (min-width: 800px) {
  .ContentWrapper {
    padding: 8px 16px;
  }
}