.styled-textarea {
  background-color: var(--body-color);
  border: 1px solid var(--input-color);
  border-radius: 4px;
  color: var(--input-color);
  font-size: 16px;
  min-height: 88px;
  max-height: 320px;
  width: 100%;
  padding: 4px 8px;
  max-height: 250px;
  overflow-y: scroll;
}
