.ActionPanelFixedRow {
  display: none;
}

.ActionPanelFixedWrapper {
  background-color: var(--body-color);
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  /* padding: 0 8px; */

  /* Mobile only? */
  width: 100%;
  margin-right: 24px;
}

@media (min-width: 640px) {
  .ActionPanelFixedRow {
    align-items: flex-start;
    display: flex;
    justify-content: flex-start;
    position: fixed;
    top: 42px;
    width: 100%;
    z-index: var(--zIndex-overBase);
  }
}

@media (min-width: 640px) {
  .ActionPanelFixedRow {
    width: calc(100% - 202px) !important;
    background-color: var(--body-color);
  }

  .ActionPanelFixedWrapper {
    padding-right: 16px;
  }
}

@media (min-width: 890px) {
  .ActionPanelFixedRow {
    width: calc(100% - 442px) !important;
  }
}

@media (min-width: 1024px) {
  .ActionPanelFixedRow {
    width: calc(100% - 522px) !important;
  }
}

@media (min-width: 1100px) {
  /* .ActionPanelFixedRow {
    width: calc(100% - 522px) !important;
  } */

  .ActionPanelFixedWrapper {
    margin-right: 0;
    padding-right: 0;
  }
}