.carouselContainer {
  position: relative;
}

.iconCaretLeft,
.iconCaretRight {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  user-select: none;
}

.iconCaretLeft {
  left: 0;
}

.iconCaretRight {
  right: 0;
}

.carouselImage {
  border-radius: 4px;
  margin: 0 auto;
  max-height: 100%;
  max-width: calc(100% - 84px);
  opacity: 0;
  position: absolute;
  transition: opacity 0.4s ease-in-out;
}

.fadeIn {
  opacity: 1;
}