.ModalStyle {
  background-color: var(--body-color);
  border-radius: 4px;
  bottom: 0;
  margin: 0 auto;
  opacity: 1;
  padding: 8px 16px;
  padding-bottom: calc(env(safe-area-inset-bottom) + 64px);
  position: fixed;
  width: 100%;
  z-index: var(--zIndex-overNavBar);
}

@media (min-width: 640px) {
  .ModalStyle {
    bottom: unset;
    left: 50%;
    max-width: calc(100% - 64px);
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: 1264px) {
  .ModalStyle {
    max-width: 1200px;
  }
}

/* @media (min-width: 800px) {
  .ModalStyle {
    max-height: 512px;
  }
} */

.close-btn {
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
  height: 28px;
  width: 28px;
}

.ModalContent {
  position: relative;
}

/* .ImageWrapper {
  height: auto;
  width: 50%;
} */

.Images {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  row-gap: 12px;
}

.ImageElement {
  max-width: 100%;
  height: 100%;
}

.NotSelected {
  max-width: 45%;
}

@media (min-width: 740px) {
  .Images {
    column-gap: 8px;
    flex-direction: row;
  }

  /* .ImageElement {
    max-width: 50%;
    height: 100%;
    flex: 1;
  } */
}
