@media (max-width: 639px){
  .img, .image-loading, .img-container{
      --image-container-size: 400px;
  }
}

@media (min-width: 640px){
  .img, .img-loading, .img-container{
    --image-container-size: 512px;
}
}

.menu {
  position: absolute;
  top: 32px !important;
}

.button-icon {
  cursor: pointer;
  display: flex;
  padding: 4px;
  /* background-color: green; */
  border-radius: 4px;
}

.mobile-hide {
  display: none;
}

.img-loading {
  height: var(--image-container-size);
  width: var(--image-container-size);
  background-color: gray;
}

.img {
  border-radius: 4px;
  box-shadow: 0 16px 38px -12px rgb(0 0 0 / 56%),
    0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 6px -5px rgb(0 0 0 / 20%);
  max-height: var(--image-container-size);
}

.img-container{
  height: var(--image-container-size);
  min-height: var(--image-container-size);
}

@media (min-width: 640px) {
  .mobile-hide {
    display: block;
  }
}
