.menu {
  position: absolute;
  top: 32px !important;
}

.button-icon {
  cursor: pointer;
  display: flex;
  padding: 4px;
  /* background-color: green; */
  border-radius: 4px;
}

.mobile-hide {
  display: none;
}

.img-loading {
  height: 512px;
  width: 512px;
  background-color: gray;
}

.img {
  border-radius: 4px;
  box-shadow: 0 16px 38px -12px rgb(0 0 0 / 56%),
    0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 6px -5px rgb(0 0 0 / 20%);
  aspect-ratio: keep-aspect-ratio;
  max-height: 512px;
}

@media (min-width: 640px) {
  .mobile-hide {
    display: block;
  }
}
