.number-input-wrapper {
  display: flex;
  flex-direction: row;
  width: 160px;
}

.number-input-minus-btn {
  border-color: var(--input-color);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
  height: 40px;
}

.number-input-plus-btn {
  border-color: var(--input-color);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0;
  height: 40px;
}
