.Dropzone {
  align-items: center;
  border-color: var(--text-color);
  border-radius: 4px;
  border-style: dashed;
  border-width: 2px;
  color: var(--text-color);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  font-size: 16px;
  height: 200px;
  justify-content: center;
  outline: none;
  padding: 16px;
  text-align: center;
  transition: border 0.24s ease-in-out;
  width: 100%;
}
