.ImageList {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.ImageCard {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 640px;
  width: 100%;
}

.ShowcaseImage {
  border-radius: 4px;
}
