.number-input-wrapper {
  display: flex;
  flex-direction: row;
}

.number-input-minus-btn {
  border-color: rgb(204, 204, 204);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
  height: var(--input-element-h);
}

.number-input-plus-btn {
  border-color: rgb(204, 204, 204);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0;
  height: var(--input-element-h);
}

.ButtonsOnEnd {
  border-right: 1px solid rgb(204, 204, 204);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

@media (min-width: 800px) {

  .number-input-minus-btn,
  .number-input-plus-btn,
  .step-btn {
    height: 30px;
    width: 30px;
    min-width: unset;
    padding: 4px;
  }
}