.NotificationDropdown {
  background-color: var(--modal-background);
  bottom: 0;
  /* height: auto; */
  left: 0;
  padding: 8px;
  position: fixed;
  right: 0;
  top: 42px;
}

@media (min-width: 640px) {
  .NotificationDropdown {
    left: -320px;
    max-width: 320px;
    position: absolute;
    top: 24px;
    width: 400px;
  }
}