.HeaderNav {
  align-items: center;
  background-color: var(--body-color);
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  height: var(--headerNav-height);
  left: 0;
  padding: env(safe-area-inset-top) 8px 0 8px;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: var(--zIndex-navBar);
}

@media (min-width: 1024px) {
  .HeaderNav {
    padding: env(safe-area-inset-top) 16px 0 16px;
  }
}
