.HeaderNav {
  align-items: center;
  background-color: var(--body-color);
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  height: var(--headerNav-height);
  left: 0;
  padding: env(safe-area-inset-top) 16px 0 16px;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: var(--zIndex-navBar);
}

.HeaderNavWrapper {
  align-items: center;
  display: flex;
  gap: 4px;
  flex-direction: row;
  width: 100%;
}

.HeaderNavLogo {
  align-items: center;
  display: flex;
  gap: 4px;
  flex-direction: row;
}

.Title {
  color: var(--main-color);
  font-size: 24px;
  font-weight: 700;
  margin-left: 4px;
}

@media (min-width: 640px) {
  .Title {
    font-size: 26px;
  }
}

@media (min-width: 1024px) {
  .HeaderNav {
    padding: env(safe-area-inset-top) 16px 0 16px;
  }
}
