.ti-details-box {
  background-color: var(--accent-color);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  padding: 8px;
  width: 100%;
  flex-grow: 1;
}

.ti-name {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 8px;
}

@media (min-width: 800px) {
  .input-width {
    justify-content: flex-end;
    max-width: 120px;
  }
}

.Dropdown {
  max-width: unset;
  overflow: hidden;
  left: -18px;
  right: -28px;
  width: auto;
}

@media (min-width: 640px) {
  .Dropdown {
    height: 500px;
    max-width: 640px;
    right: 0;
    left: unset;
    width: 100%;
  }
}

@media (min-width: 800px) {
  .embedding-btn {
    height: 30px;
    width: 30px;
    min-width: unset;
    padding: 4px;
  }
}

.Pagination {
  background-color: var(--modal-background);
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  left: 8px;
  right: 8px;
  justify-content: center;
  gap: 6px;
  padding: 8px;
}

.PageLi {
  font-size: 16px;
  text-align: center;
  width: 30px;
}

.Previous {
  position: absolute;
  left: 8px;
}

.Next {
  position: absolute;
  right: 8px;
}

.embedding-select-label {
  align-items: center;
  display: flex;
  column-gap: 2px;
  flex-direction: row;
  font-size: 12px;
  font-weight: 600;
}

.slider-wrapper {
  display: none;
}

@media (min-width: 800px) {
  .embedding-select-label {
    font-size: 14px;
    font-weight: 700;
    min-width: var(--options-label-width);
    width: var(--options-label-width);
  }

  .slider-wrapper {
    display: block;
    flex-grow: 1;
    margin-right: 12px;
  }
}