.contrastTextBackground {
  align-items: center;
  background-color: rgb(30 41 59);
  border-radius: 4px;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  margin-bottom: 12px;
  padding: 6px 8px 0px 8px;
}