.button-icon {
  cursor: pointer;
  display: flex;
  padding: 4px;
  /* background-color: green; */
  border-radius: 4px;
}

.button-icon:hover {
  background-color: #C0C0C0;
}

.buttonLoading {
  background-color: #C0C0C0;
  cursor: default;
}

.spinner {
  animation: spin 1s linear infinite;
  cursor: unset !important;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}