.dropdown-menu {
  background-color: var(--input-background);
  position: absolute;
  top: 38px;
  left: 0;
  right: 0;
  height: 380px;
  border-radius: 4px;
  border: 2px solid var(--card-background);
  z-index: 31;
}

@media (min-width: 640px) {
  .dropdown-menu {
    width: 500px;
  }
}

.StyledClose {
  cursor: pointer;
  position: absolute;
  top: 4px;
  right: 4px;
}

.style-tags-wrapper {
  position: absolute;
  top: 32px;
  bottom: 8px;
  left: 8px;
  right: 8px;
  overflow-y: auto;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

.style-tags-wrapper * {
  -ms-overflow-style: none;
}

.style-tags-wrapper::-webkit-scrollbar {
  display: none;
}

.tag {
  color: white;
  background-color: var(--main-color);
  border-radius: 12px;
  cursor: pointer;
  font-size: 14px;
  padding: 4px 12px;
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 8px;
}

.tag:hover {
  background-color: var(--btn-primary-hover);
}
