:root {
  --text-color: #244975;
  --text-shade: #ffffff;
  --link-text: #17cfbb;
  --link-active: #5eedde;

  --nav-link-normal: #282828;
  --nav-link-active: #14b8a6;

  --light-accent: #9ca8bd;
  --dark-accent: #8e7fb8;
  --dark-shade: #244975;

  /* this is equivalent to props.theme.border on original ArtBot */
  --card-background: #7e5a6c;
  --overlay-background: #ffffff;

  --sticky-footer-padding: 80px;
  --sticky-footer-margin: -80px;

  --placeholder-text: #9299a6;

  --sidebar-width: 240px;

  /** Controls opacity for react-tooltip */
  --rt-opacity: 0.95;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #efedef;
    --text-shade: #f3f3ef;
    --link-text: #5eedde;
    --link-active: #17cfbb;

    --overlay-background: #00000;

    --nav-link-normal: #ffffff;
    --nav-link-active: #14b8a6;
  }
}
