:root {
  --body-color: #f2f2f2;
  --text-color: #244975;
  --text-shade: #ffffff;
  --link-text: #17cfbb;
  --link-active: #5eedde;

  --light-shade: #efedef;
  --light-accent: #9ca8bd;
  --main-color: #14b8a6;
  --accent-color: #8e6f7e;
  --dark-accent: #8e7fb8;
  --dark-shade: #244975;

  --card-background: #7e5a6c; /* this is equivalent to props.theme.border on original ArtBot */

  --sticky-footer-padding: 80px;
  --sticky-footer-margin: -80px;

  --btn-primary: #6ab7c6;
  --btn-primary-hover: #8fc9d4;
  --btn-secondary: #c77b68;
  --btn-secondary-hover: #d59c8e;

  --placeholder-text: #9299a6;
  --input-background: #ffffff;
  --input-text: #282828;

  --sidebar-width: 240px;

  /** Controls opacity for react-tooltip */
  --rt-opacity: 0.95;
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-color: #222222;
    --text-color: #efedef;
    --text-shade: #f3f3ef;
    --link-text: #5eedde;
    --link-active: #17cfbb;

    --input-background: rgb(42, 48, 60);
    --input-text: #e1e1e1;
  }
}
